<table class="tableE">
  <caption><%= I18n.t("tog_headlines.admin.publication") %></caption>
  <tbody>
    <tr>
        <th scope="row"><%= I18n.t("tog_headlines.model.publish_date") %></th>
        <td nowrap="nowrap"><%=f.date_select :publish_date, :class=>"fieldbox" %></td>
    </tr>
  <tr>
      <th scope="row"><%= I18n.t("tog_headlines.model.archive_date") %></th>
      <td nowrap="nowrap"><%=f.date_select :archive_date, :class=>"fieldbox" %></td>
  </tr>               
</tbody></table>