<h2>Draft stories
  <%= link_to "Create", new_admin_headlines_story_path, :class => "create button add" %>
</h2>
<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Summary</th>
      <th scope="col">User</th>
      <th scope="col">Created at</th>
      <th scope="col">Publish State</th>
    </tr> 
  </thead>
  <tbody>
    <% if !@stories.blank? %>
      <% for story in @stories %>
        <tr>
          <td><%= link_to story.title, admin_headlines_story_path(story) %></td>
          <td><%= story.summary %></td>
          <td><%= link_to story.author.login, edit_admin_user_url(story.author), {:class => "admin", :title => "Edit user"} -%></td>
          <td><%= fecha(story.created_at) %></td>
          <td><%= story.publish_state %><br /><%=fecha(story.publish_date) %> - <%= fecha(story.archive_date) %> </td>
        </tr>
      <% end %> 
    <% else %>
     <tr>
       <td colspan="5" class="note">Empty.</td>
     </tr>
    <% end %>
  </tbody>
<%= will_paginate %>
</table>
