<h2>Archived Stories</h2>
<h3>
  <center>
    <%= link_to "Stories", meta_headlines_stories_path %>&nbsp;&nbsp;
    <%= link_to "Draft Stories", draft_meta_headlines_stories_path %>&nbsp;&nbsp;
    <%= link_to "Archived Stories", archived_meta_headlines_stories_path %>
  </center>
</h3>
<table>
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Summary</th>
      <th scope="col">User</th>
      <th scope="col">Created at</th>
      <th scope="col">Publish State</th>
    </tr> 
  </thead>
  <tbody>
    <% if !@stories.blank? %>
      <% for story in @stories %>
        <tr>
          <td><%= link_to story.title, meta_headlines_story_path(story) %></td>
          <td><%= story.summary %></td>
          <td><%= link_to story.author.login, meta_user_edit_url(story.author), {:class => "admin", :title => "Edit user"} -%></td>
          <td><%= fecha(story.created_at) %></td>
          <td><%= story.publish_state %><br /><%=fecha(story.publish_date) %> - <%= fecha(story.archive_date) %> </td>
        </tr>
      <% end %> 
    <% else %>
     <tr>
       <td colspan="5" class="note">Empty.</td>
     </tr>
    <% end %>
  </tbody>
<%= will_paginate %>
</table>
