<h1><%= link_to I18n.t("tog_headlines.plugin_title"), admin_headlines_stories_path%> / <%= I18n.t("tog_headlines.admin.create_story") %></h1>

<br />

<%= error_messages_for :story %>
<% form_for :story, :url => {:action => :create},  :html => {:id => "settings"} do |f| -%>

  <%= render :partial => 'form', :locals => { :f => f } %>
  <br />  
  <div class="actions">
    <%= submit_tag I18n.t("tog_headlines.admin.create"), {:accesskey => "s", :class=>"button"} %>
  </div>
    
<% end -%>