<% if @story.publish_state != :unpublished %>
  <script type="text/javascript">
  function showForm(){
      Element.toggle("feedback");
  }
  </script>

  <div id="feedback" style="display:none;">
    <% form_for :comment, :url => comment_path, :html => {:id => "f_comment"} do |f| -%>
      <%= f.hidden_field :commentable_type, {:value => @story.class.name} -%>
      <%= f.hidden_field :commentable_id, {:value => @story.id} -%>
      <div class="doblecol_1 clearfix">

                <dt><label for="comment" class="maincolor4">Texto del comentario</label></dt>
                <dd><%= f.text_area :comment, {:rows=>6, :cols=>50, :class=>"editor wide"} -%></dd>
      </div>

      <p align="center">
      <%= submit_tag 'Enviar', {:accesskey => "s", :class=>"button1"} %>
      <%= button_to_function 'Cancelar',"showForm();",  :class => 'button1'%>
      </p>
    <% end %>			
  </div> <!--feedback-->

  <div class="title1 maincolor3">
    Comentarios (<%= @comments.size %>)
    <% if logged_in? -%>
      <!-- <a href="javascript:showForm()"><img src="/img/ico/add.gif" alt="Añadir comentario" /></a>-->
     <div class="titletab maincolor3"><div class="titletab_content"><a class="link_add maincolor4" href="javascript:showForm()">Añadir comentario</a></div></div>
   <%end-%>
  </div>

  <div class="padding1">
    <% if @comments.empty? %>
          No hay comentarios.
    <% else %>
      <ul class="list2">
        <% @comments.each do |comment| %>
          <%= render :partial => "comment", :object => comment %>
        <% end %>
      </ul>
    <% end %>
  </div> <!-- .padding1 -->
<% end %>
