<div class="side_info">
<div class="content">
<div class="right_info">
    <div class="round10"><div class="round10_content">
      <div class="hits_smile clearfix">
        <% if params[:action]=="show" %>
          <div class="smile fontsmaller">
              <%= smileys_link(story, "smile maincolor7 clearfix") %>
          </div>
          <div class="hits fontbigger maincolor3"><%= story.smileys %> <%= image_tag("/img/ico/hits.gif", :alt => "smiles", :title => "smiles") %></div>
        <% else %>
            <div class="hits fontbigger maincolor3"><%= story.smileys %> <%= image_tag("/img/ico/hits.gif", :alt => "smiles", :title => "smiles") %> </div>
        <% end %>
      </div>
    </div></div>
    <% if (moderator?(@group) unless @group.blank?) || admin? %> <!--moderator?(group) || --> 
      <div class="admin_options"> 
        <% if params[:action]=="draft" %> 
          <%= link_to "Aprobar", edit_approve_admin_headlines_story_path(story), :method => :post %> 
        <% end %> 
        <%= link_to image_tag("../img/ico/edit.gif"), edit_admin_headlines_story_path(story), :method => :get  %> 
        <%= link_to image_tag("../img/ico/delete.gif"), admin_headlines_story_path(story), :method => :delete, :confirm => "¿Seguro que quiere borrar?"  %> 
      </div>          
    <% end %> 

</div>
</div>
</div>
